*{
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0 0.6rem;
}
.navbar{
    background-image: linear-gradient(to right, rgba(198, 80, 214, 0.97),rgba(149, 173, 229, 1));
    padding: 0 2rem;
}
.navbar-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-text li{
    list-style-type: none;
    color: #fff;
    padding: 2rem 0;
}
.section-1{
    padding-bottom: 4rem;
}

.section1-title img{
    height: 1.6rem;
}
.section1-title h2{
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.section1-left{
        display: grid;
            grid-template-columns: 1fr;
            gap: 11rem;
            padding-left: 2rem;
            padding-top: 2rem;
            
}
.section1-left img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
   
}
.section1-left .tik{
    animation: upmove 4s ease-in-out infinite;
}
.section1-left .cup{
    animation: downmove 4s ease-in-out infinite;
}
.section1-content{
    display: flex;
    display: flex;
        justify-content: center;
        padding-bottom: 1rem;
}
.stars{
    width: 10%;
}
.section1-text{
    padding-top: 3rem;
    width: 50%;
    text-align: center;
}
.section1-text span{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.section1-text h1{
    padding-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: bold;

}
.section1-text p {
    padding-bottom: 1rem;

}
.section1-text button{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    border: none;
    color: #fff;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    transition: 0.3s;
}
.section1-text button:hover{
    color: #111;
    cursor: pointer;
    opacity: 0.8;
    transform: translateX(5px) translateY(-5px);

}

.section1-bottom{
    display: flex;
    justify-content: space-evenly;
}

.section1-bottom img{
    width: 20%;
}

.section-2{
    display: flex;
    padding: 0 5rem;
    padding-bottom: 3rem;
    justify-content: space-between;
}
.section2-text{
    width: 50%;
}
.section-2>img{
    width: 45%;
    background-color: #c1d3fe;
    border-radius: 2rem;
    box-shadow: 4px 3px 9px 4px black;
}
.section2-text h3{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        padding-bottom: 1rem;
}
.section2-text p{
    padding: 2rem 0;
    line-height: 2rem;
}

.section2-text button{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    color: #fff;
    width: 6rem;
    height: 2.3rem;
    border: none;
    border-radius: 2rem;
    transition: 0.3s;
}
.section2-text button:hover{
    color: #111;
        cursor: pointer;
        opacity: 0.8;
        transform: translateX(5px) translateY(-5px);
}

.section-3{
      background-color: #F6E5F9F5;
            /* display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem; */
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 3rem;
}

.section3-images{
        width: 100%;
            display: flex;
            /* display: grid; */
    padding-right: 3rem;
          
}
.section3-images img{
    width: 98%;
}
.section3-text{
    width: 80%;
        margin: auto;
        padding-left: 2rem;
}
.section3-text h2{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    max-width: 70%;
}
.section3-text p{
    line-height: 2rem;
        /* text-align: center; */
        max-width: 70%;
        /* margin: auto; */
}

.section-4{
    padding: 0 4rem;
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
}
.euro{
    width: 6rem;
    animation: linemove 4s ease-in-out infinite;
}
.ok{
    width: 5rem;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
}
.section-4 h2{
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
}
.section-4 p{
    color: #fff;
    text-align: center;
    line-height: 2rem;
}
.section-4 button{
    display: block; 
    margin: auto;
    margin-top: 2rem;
    padding: 0.6rem;
    border: none;
    color: #cd1624;
    border-radius: 0.7rem;
    width: 7rem;
    transition: 0.3s;
}
.section-4 button:hover{
    background-color: #e91c1c;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    transform: translateX(5px) translateY(-5px);
}

.section-5{
    padding: 2rem 4rem;
}

.section-5 h2{
    text-align: center;
    padding-bottom: 2rem;
    
}
.section-5 span{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.section-5 p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    font-size: small;
    padding: 0.5rem 1rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    transition: 0.3s;
}
.section-5 p:hover{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    cursor: pointer;
    color: #fff;
    
}
.why{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.section-5 img{
    width: 8%;
}



.section-6 h3{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 2.6rem;
        font-weight: 700;
}
.section-6 h3 + p{
    text-align: center;
    padding-bottom: 2rem;
}
.easy-learning, .simple-usage, .technical{
    display: flex;
    padding: 2rem;
}
.easy-learning img, .simple-usage img, .technical img{
    width: 50%;
}
.easy-learning div, .simple-usage div, .technical div{
    margin: auto;
        line-height: 2rem;
}
.easy-learning h2, .simple-usage h2, .technical h2{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.easy-learning{
    background-color: #eef4ed;
}
.simple-usage{
    background-color: #f5d0d9af;
    flex-direction: row-reverse;
}
.technical{
    background-color: #99eee1b2;
}
.author{
    padding: 1rem 0;
    font-weight: bold;

}
.view{
    font-size: 0.9rem;
}

.section-7{
    /* display: flex; */
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    background-color: #d3fa5dc0;
}

.build-stores{
    width: 90%;
    
}
.build-stores h3{
    font-size: 2rem;
    padding-bottom: 1.7rem;
}
.build-stores p{
    padding-bottom: 1.7rem;
    line-height: 2rem;
}
.build-stores button{
    padding: 0.6rem 1rem;
    border-radius: 1.4rem;
    border: none;
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    color: #fff;
    transition: 0.3s;
}
.build-stores button:hover{
    color: #111;
        cursor: pointer;
        opacity: 0.8;
        transform: translateX(5px) translateY(-5px);
}
.procedure{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.procedure h5{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}
.procedure img{
    width: 10%;
    padding-right: 1rem;
}

.questions{
    padding: 4rem;
}
.questions h2{
    text-align: center;
    font-size: 2.7rem;
    padding-bottom: 2rem;
}

.questions p{
    display: flex;
        align-items: center;
        margin: 1rem auto;
        width: 60%;
        justify-content: space-between;
        border: 2px solid;
        font-size: small;
        padding: 0.5rem 1rem;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        transition: 0.3s;
}
.questions p:hover{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        cursor: pointer;
        color: #fff;
}


.contact{
    padding: 4rem 15%;
}
.contact h3{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
}
.contact-specials, .contact-last{
   padding-bottom: 1.3rem;
}
.contact-specials label, .contact-last label{
    color: rgb(14, 142, 247);
    
    
}
.contact-specials input, .contact-last input{
    border-image-slice: 1;
        border-image-source: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
        height: 1.8rem;
        margin-bottom: 1.5rem;
        margin-top: 0.4rem;
        width: 97%;
        display: block;
        transition: 0.3s;
        
}

.contact-last input {
    height: 5rem;
}
.contact button{
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    color: #fff;
    border: none;
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    margin: auto;
    display: block;
    transition: 0.3s;
}
.contact button:hover{
    color: #111;
        cursor: pointer;
        opacity: 0.8;
        transform: translateX(5px) translateY(-5px);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(182, 43, 201, 0.97), rgb(100, 145, 248));
    padding: 2rem;
}
footer a{
    text-decoration: none;
    color: rgb(0, 238, 255);
    transition: 0.3s;
}
footer a:hover{
    color: blue;
    
}
footer p{
    color: white;
}

@keyframes linemove{
    0%{
        transform: translateX(-80%);
    }
    50%{
        transform: translateX(80%);
    }
    100%{
        /* transform: rotate(240deg); */
        transform: translateX(-80%);
        
    }
}

@keyframes upmove{
    
    50%{
        transform: translateY(-400%);
    }
}
@keyframes downmove{
    50%{
        transform: translateY(400%);
    }
}

@media only screen and (min-width:600px){
   
    .contact-specials{
    display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

        body {
            padding: 0 1rem;
        }
    
    
}

@media only screen  and (max-width:760px){
   
    .section1-content{
    justify-content: space-between;
   } 
   .section1-text{
    width: 100%;
    text-align: left;
   }
   .section1-text h1{
    font-size: 1.7rem;
   }
   .section1-left{
    padding-left: 0.6rem;
   }
   .section1-left img{
        width: 2rem;
        height: 2rem;
   }
   .stars{
    width: 8%;
    padding-right: 0.4rem;
   }
   .section1-bottom img {
    display: none;
   }
   
   .section-2{
    flex-direction: column;
    padding: 0 2rem;
    background-color: #f8e74ba1;
    padding-top: 2rem;
   }
   .section-2>img{
    margin: 4rem auto;
    width: 80%;
    
   }
   .section2-text{
    width: 100%;
   }

   .section-3{
    flex-direction: column;
    padding-top: 3rem;

   }
   .section3-text{
        width: 80%;
        /* margin: auto; */
        padding-left: 2rem;
   }
   .section3-text h2{
    max-width: 100%;
   }
   .section3-text p{
    max-width: 94%;
   }
   .section3-images{
    width: 75%;
    margin: auto;
   }

   .section-4{
    padding: 0 1rem;
   }
   .ok, .euro{
    width: 3rem;
   }

   .section-5{
    padding: 2rem 1rem;
   
    
   }
   .why{
    display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 2rem;
   }
   .section-6{
    /* padding: 1rem 0; */
   }
   .section-6 h3{
    font-size: 1.6rem;
   }
   .section-6 p{
    font-size: small;
   }
   .easy-learning, .technical{
    flex-direction: column;
   }
   .simple-usage{
    flex-direction: column-reverse;
   }
   .easy-learning img,
    .simple-usage img, .technical img{
        width: 100%;
   }
   .section-7{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
   }
   .procedure{
    margin: 0 auto;
   }

   .questions{
    padding: 2rem 0;
   }
   .questions img{
    max-width: 10%;
   }
}